.calculator
{
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 8px;
}
input
{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0,0,0.15);
}
button
{
    color: white;
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover
{
    transform: scale(1.1);
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-image: url(https://win10gadgets.com/wp-content/uploads/2015/05/176.png);
    align-items: center;
    height: 100vh;
    margin: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}